@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    color-scheme: dark;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 160 25% 4%;
    --foreground: 40 15% 85%;
    --card: 160 20% 8%;
    --card-foreground: 40 15% 88%;
    --primary: 160 60% 40%;
    --primary-foreground: 160 25% 4%;
    --secondary: 160 20% 12%;
    --secondary-foreground: 40 15% 85%;
    --muted: 160 15% 14%;
    --muted-foreground: 160 10% 45%;
    --accent: 40 50% 40%;
    --accent-foreground: 40 20% 80%;
    --border: 160 20% 16%;
    --input: 160 20% 16%;
    --ring: 160 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-muted;
}
::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground/30 rounded-md;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-muted-foreground/50;
}
